# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim files
*.un~
*.swp
*.swo
tags

# Build directory
build/

# Blender shit
*.blend1
*.blend2
